<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>

<form action="" method="post" id="task-form">

    <input type="text" name="task" id="task">
    <button type="submit" id="button">ok</button>
</form>

<ul class="collection-task">

</ul>


<script src="{{url_for('static', filename='app.js')}}">

</script>

</body>
</html>